.profile {
  display: flex;
  .profileContainer {
    flex: 6;
    height: 50px;
    .profileContent {
      padding: 20px;
      .title{
        margin-bottom: 20px;
        h3{
            font-size: 30px;
        }
      }
      .profileContentLayout{
        display: flex;
        width: 100%;
        .formProfile{
            width: 100%;
            flex: 2;
        }
        .imgProfile{
            flex: 1;
            img{
                width: 6.25rem;
                height: 6.25rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
      }
    }
  }
}
