.productItem{
    display: flex;
    .productItemContainer{
        flex: 6;
        h1{
            font-size: 30px;
            padding: 20px;
            text-align: center;
        }
        .productItemMain{
            display: flex;
            padding: 20px;
            .left{
                flex: 1;
                display: flex;
                padding-top: 60px;
                align-items: center;
                flex-direction: column;
                img{
                    margin-bottom: 20px;
                }
            }
            .right{
                flex:1.6;
                display: flex;
                flex-direction: column;
                label{
                    width: 100%;
                    font-size: 24px;
                    margin-bottom: 5px;
                }
                input{
                    width: 40%;
                    margin-bottom: 10px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    padding: 5px ;
                    &:focus{
                      border: 1px solid rgb(15, 87, 15);
                    }
                }
                textarea{
                    width: 80%;
                    height: 160px;
                    font-size: 16px;
                    border: none;
                    outline: none;
                    padding:  5px ;
                    &:focus{
                        border: 1px solid rgb(15, 87, 15);
                      }

                }
                button{
                    width: 150px;
                    outline: none;
                    padding: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    border: none;
                    background-color: #df0428;
                    color: #fff;
                }

            }
        }
    }
}